@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <hr />
    <hr />
    <h4>TP04 - SWII6 - Sistemas Web</h4>
    <h4>IFSP - CAMPUS CUBATÃO</h4>
    <p> FABRICIO CARLOS GUIMARAES CB3014886</p>
    <p>BENILDES DE MENEZES CB3004392</p>
</div>
